/* bootstrap을 제외한 css 작업 */
/*
.grid_container {
    display: grid;  */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    /*grid-template-columns: 1fr 1fr 1fr;
}*/

/*
.grid_header {
    font-size: 2rem;
    padding: .5rem;
}*/

.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    box-shadow: 0px 1px 5px #555;
    background-color: white;
}
.col-grid-9 {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

* {
    box-sizing: border-box;
}