/* bootstrap을 제외한 css 작업 */

body {
    height: 100%;
    width: 100%;
}

.main {
    display: grid;
    margin: 0px;
    padding: 0px;
    margin-left: 13em;
    margin-right: 13em;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    /* box-shadow: 0px 1px 5px #555; */
    background-color: white;
}

.grid_header {
    grid-column: 1 / 4;
}

.grid {
    display: grid;
    margin: 0px;
    padding: 0px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    box-shadow: 0px 1px 5px #555;
    background-color: white;
}

.col-grid-9 {
    width: 100px;
    height: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    text-align: center;
}
/*
#key {
    width: 180px;
    height: 130px;
    align-content: center;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
}
*/

#key {
    width: 100px;
    height: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    align-content: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.crud_btn{
    float: right;
    position: relative;
    margin-right: 100px;
}

/* create grid 시작 */

.insert_main {
    display: grid;
    margin: 0px;
    padding: 0px;
    padding-left: 24em;
    padding-right: 24em;
    /* margin-left: 13em;
    margin-right: 13em; */
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    background-color: white;
}

.insert_grid {
    display: grid;
    margin: 0px;
    padding: 0px;
    /* padding-top: 35px;
    padding-bottom: 35px; */
    text-align: center;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    box-shadow: 0px 1px 5px #555;
    background-color: white;
}


.detail {
    width: 100px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

#insert_key {
    width: 100px;
    height: 70px;
    /* padding-top: 35px;
    padding-bottom: 35px; */
    text-align: center;
    align-content: center;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 5px;
}

#main_key {
    width: 100px;
    height: 70px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 5px;
}

/* create grid 끝 */
