{% extends 'home.html' %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}
<br>
<!-- <div class="crud_btn">
      <a class="btn btn-primary"href="{% url 'create' %}">추가</a>
</div> -->
<br>

      <div class="main">
            {% for i in my_key %}
            <div class="grid" id="grid{{i}}">
                  <!-- <div class="grid_header">
                        <img src="" alt="">
                        {{ user.username }}
                  </div> -->
                  {% for k in master_value %}
                  
                        {%if forloop.counter0 == 4%}
                              <div class="col-key-9" id="key">
                                    {{i}}
                              </div>
                              {% if k.key == i %}
                                    <div class="col-grid-9">
                                          {{k}}
                                    </div>
                              {%endif%}
                        {%else%}
                              {% if k.key == i %}
                              <div class="col-grid-9">
                                          {{k}}
                              </div>
                              {%endif%}
                        {%endif%}
                  
                  {%endfor%}
            </div>
            {% endfor %}

      </div>

{% endblock %}