{% extends 'home.html' %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<h1>Grid</h1>

<hr>
      <div class="main">
            <!-- <header class="grid_header">
                  <img src="" alt="">
                  User NickName
            </header> -->
            {% for i in for_index %}
            <div class="grid" id="grid{{i}}">
                  <!-- <div class="row clearfix"> -->
                        <div class="col-grid-9">
                              item 1
                        </div>
                        <div class="col-grid-9">
                              item 2
                        </div>
                        <div class="col-grid-9">
                              item 3
                        </div>
                  <!-- </div> -->
                  <!-- <div class="row clearfix"> -->
                        <div class="col-grid-9">
                              item 4
                        </div>
                        <div class="col-key-9" id="key">
                              item key
                        </div>
                        <div class="col-grid-9">
                              item 5
                        </div>
                  <!-- </div> -->
                  <!-- <div class="row clearfix"> -->
                        <div class="col-grid-9">
                              item 6
                        </div>
                        <div class="col-grid-9">
                              item 7
                        </div>
                        <div class="col-grid-9">
                              item 8
                        </div>
                  <!-- </div> -->
            </div>
            {% endfor %}
      </div>

{% endblock %}