{% extends 'home.html' %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<h1>Grid</h1>

<hr>

{% for i in '[1,2,3,4,5,6,7]' %}
      <section class="grid_container">
            <!-- <header class="grid_header">
                  <img src="" alt="">
                  User NickName
            </header> -->
            <div class="grid">
                  <!-- <div class="row clearfix"> -->
                        <div class="col-grid-9">
                              item 1
                        </div>
                        <div class="col-grid-9">
                              item 2
                        </div>
                        <div class="col-grid-9">
                              item 3
                        </div>
                  <!-- </div> -->
                  <!-- <div class="row clearfix"> -->
                        <div class="col-grid-9">
                              item 4
                        </div>
                        <div class="col-grid-9" id="key">
                              item key
                        </div>
                        <div class="col-grid-9">
                              item 5
                        </div>
                  <!-- </div> -->
                  <!-- <div class="row clearfix"> -->
                        <div class="col-grid-9">
                              item 6
                        </div>
                        <div class="col-grid-9">
                              item 7
                        </div>
                        <div class="col-grid-9">
                              item 8
                        </div>
                  <!-- </div> -->
            </div>
      </section>
      <hr>
      <hr>
{% endfor %}


{% endblock %}